services:

  mysql:
    image: mysql:8
    container_name: mysql-db
    environment:
      MYSQL_ROOT_PASSWORD: Password1
      MYSQL_DATABASE: ordermanagementsystem
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 10
    networks:
      - oms-net

  order-service:
    container_name: order-service
    build:
      context: .
    depends_on:
      mysql:
        condition: service_healthy
    ports:
      - "8081:8081"
      - "5005:5005"
    environment:
      SPRING_DATASOURCE_URL: jdbc:mysql://mysql:3306/ordermanagementsystem
      SPRING_DATASOURCE_USERNAME: root
      SPRING_DATASOURCE_PASSWORD: Password1

      # use external Kafka (from payment-service compose)
      SPRING_KAFKA_BOOTSTRAP_SERVERS: kafka:9092

      SPRING_PROFILES_ACTIVE: docker
    networks:
      - oms-net

volumes:
  mysql_data:

networks:
  oms-net:
    external: true
